:root {
  --appBackground: #d2eaf1;
  --lightText: #676883;
  --primaryBorder: rgb(240, 219, 219);
  --primaryColor: #d1771e;
  --primaryText: #17181a;
  --white: #fff;

  --appFontFamily: "Lexend", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  /* background-color: var(--appBackground); */
}

a {
  text-decoration: none;
  color: #0b5e96;
}

a:hover {
  color: var(--white);
}

#home {
  background-image: url(./assets/img/landing_background.jpg);
  background-position: right;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: var(--primaryColor);
  border-radius: 50%;
}
/* #contact-me {
  background-image: url(./assets/img/footer_background.jpg);
  background-color: #17181a;
  background-blend-mode: soft-light;
} */

/* PROJECTS */
#projects {
  p {
    line-height: 1.2;
  }

  .app-projects {
    margin-bottom: 50px;
    border-radius: 20px;

    .section-sub-title {
      text-align: center;
      color: var(--primaryText);
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 50px;
    }

    .content {
      position: relative;
      padding: 20px 16px;

      .title {
        font-size: 24px;
        margin-bottom: 2px;
      }

      .sub-title {
        color: var(--lightText);
      }

      .tech-stacks {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 16px;
        height: 50px;

        .chip {
          height: 24px;
          font-size: 14px;
          border-radius: 4px;
          padding: 2px 10px;
          border: 1px solid rgb(208, 215, 221);
          background-color: rgb(241, 242, 242);
        }
      }

      .card-footer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;

        .button {
          display: flex;
          text-wrap: nowrap;
          border-radius: 4px;
          padding: 10px 16px;
          font-size: 15px;
          font-weight: 600;

          border: 1px solid var(--primaryColor);
          background-color: var(--primaryColor);
          color: var(--white);
          &:hover {
            border: 1px solid var(--primaryColor);
            background-color: var(--primaryColor);
            color: var(--white);
          }
        }

        .icon-button {
          font-size: 18px;
          // width: 36px;
          padding: 10px;
        }
      }
    }

    .mobile-card {
      border-radius: 20px;
      border: 1px solid var(--primaryBorder);
      overflow: hidden;

      img {
        width: 100%;
        aspect-ratio: 1;
      }
    }

    .web-card {
      border-radius: 20px;
      border: 1px solid var(--primaryBorder);
      overflow: hidden;

      img {
        width: 100%;
      }

      // .content {
      //   position: relative;
      //   padding: 20px 16px;

      //   .title {
      //     font-size: 24px;
      //     margin-bottom: 2px;
      //   }

      //   .sub-title {
      //     color: var(--lightText);
      //   }

      //   .tech-stacks {
      //     display: inline-flex;
      //     flex-wrap: wrap;
      //     gap: 5px;
      //     margin-top: 16px;
      //     height: 50px;

      //     .chip {
      //       height: 24px;
      //       font-size: 14px;
      //       border-radius: 4px;
      //       padding: 2px 10px;
      //       border: 1px solid rgb(208, 215, 221);
      //       background-color: rgb(241, 242, 242);
      //     }
      //   }

      //   .card-footer {
      //     display: flex;
      //     flex-wrap: wrap;
      //     gap: 10px;
      //     margin-top: 20px;

      //     .button {
      //       display: flex;
      //       text-wrap: nowrap;
      //       border-radius: 4px;
      //       padding: 10px 16px;
      //       font-size: 15px;
      //       font-weight: 600;

      //       border: 1px solid var(--primaryColor);
      //       background-color: var(--primaryColor);
      //       color: var(--white);
      //       &:hover {
      //         border: 1px solid var(--primaryColor);
      //         background-color: var(--primaryColor);
      //         color: var(--white);
      //       }
      //     }

      //     .icon-button {
      //       font-size: 18px;
      //       // width: 36px;
      //       padding: 10px;
      //     }
      //   }
      // }
    }
  }
}

@media screen and (max-width: 768px) {
  #home {
    background-position: initial;
  }
}
